/* =====================================DESIGN SYSTEM===================================== */
:root {
    --background: #ffffff;
    --surface: #f7f7f5;
    --surface-dark: #111111;
    --text: #111111;
    --text-secondary: #666666;
    --border: rgba(0,0,0,.08);
    --radius-sm: 14px;
    --radius-md: 24px;
    --radius-lg: 36px;
    --container: 1240px;
    --transition:cubic-bezier(.22,1,.36,1);
    --text-highlight: #5e0fdc;
}

* {
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

body {
    margin:0;
    background:var(--background);
    color:var(--text);
    font-family:Inter,-apple-system,BlinkMacSystemFont,"SF Pro Display","Segoe UI",sans-serif;
    font-size:18px;
    line-height:1.6;
    -webkit-font-smoothing:antialiased;
}

h2 {
    margin-bottom: 0;
}

p {
    margin: 0;
}

@media (min-width:1024px){

    .case-block p.section-intro{
        margin-top:0;
    }

}

img {
    max-width:100%;
    display:block;
}

a {
    color:inherit;
    text-decoration:none;
}


ul, ol {
    padding-inline-start: 25px;
}

.container {
    width:min(calc(100% - 64px),var(--container));
    margin:auto;
}


.text-highlight {
    font-weight: bold;
    color: var(--text-highlight);
}


/* =====================================HEADER===================================== */

.site-header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,.75);
    border-bottom:1px solid var(--border);
}
.header-inner {

    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}



/* =============== LOGO =============== */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-weight:700;
    font-size:20px;
    letter-spacing:-0.03em;
}
.logo-avatar{
    width:42px;
    height:42px;
    border-radius:50%;
    overflow:hidden;
    flex-shrink:0;
    background:#ececec;
    border:1px solid var(--border);

}
.logo-avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
.logo-text{
    line-height:1;
}
.navigation {
    display:flex;
    gap:36px;
}
.navigation a {
    color:var(--text-secondary);
    font-size:15px;
}
.eyebrow {
    margin-top: 7rem;
}


/* ========= HERO =========== */
/* ============ Hero Actions ================ */

.hero h1 {
    font-size: 2em;
    line-height: 1.27;
    font-weight: normal;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-decoration: none;
    transition:
        background-color .25s ease,
        color .25s ease,
        border-color .25s ease,
        transform .25s ease,
        box-shadow .25s ease;
}


/* Primary */
.button-primary {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}


/* Secondary */

.button-secondary {
    background: #4361ee;
    color: #fff;
    border: 1px solid var(--border);
}

/* ========================= PROJECT CARDS ========================= */

.project-card {
   /* margin-bottom: 2rem;*/

    display: flex;
    flex-direction: column;
    gap: 8px;

}


/* ========================= PROJECT CONTENT ========================= */

.project-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:1.5rem 0;
    gap:16px;
}

.project-category{
    /*margin:0;
    font-size:13px;
    font-weight:600;*/
    letter-spacing:.08em;
    text-transform:uppercase;
    color:var(--text-secondary);


    font-family: 'Geist Mono', monospace;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    /* color: var(--color-gradient-purple); */
    font-weight: 400;
    /* background-color: #5e0fdc; */
    padding: 2px 6px;
    border-radius: 6px;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.project-content h3{
    margin:0;
    font-size:1.25em;
    line-height:1.1;
    letter-spacing:-.04em;
}

.project-text{
    margin:0;
    font-size:17px;
    line-height:1.6;
    color:var(--text-secondary);
}

.project-result{
    display:flex;
    /*flex-direction:column;*/
    gap:4px;
    padding-left:18px;
    /*margin-top:16px;*/
    border-left:4px solid #12ce09;

    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.project-result::before{
    content:"↓";
    font-size:15px;
    font-weight:700;
    color:var(--text);
    position: relative;
    left: -7px;

}

.project-link{
    display:inline-flex;
    align-items:center;
    gap:8px;
    width:max-content;
    padding:6px 18px;
    border:1px solid var(--border);
    border-radius:999px;
    background:#fff;
    font-size:15px;
    font-weight:600;
    transition:
        background .25s ease,
        border-color .25s ease,
        transform .25s ease;
        }

.project-link::after{
    content:"→";
}

/*

/* ========================= EXPERIENCE HIGHLIGHTS ========================= */

.metrics-grid{
    display:flex;
    flex-wrap:wrap;
    gap:24px;
    margin-top:40px;
}

.metric-card{
    flex:1 1 240px;
    min-width:220px;

    padding:32px;

    border:1px solid var(--border);
    border-radius:24px;

    background:#fff;

    transition:
        transform .25s ease,
        box-shadow .25s ease,
        border-color .25s ease;
}


.metric-card strong{
    display:block;
    margin-bottom:12px;

    font-size:48px;
    font-weight:700;
    line-height:1;
    letter-spacing:-0.05em;

    color:var(--text);
}

.metric-card span{
    display:block;

    font-size:16px;
    line-height:1.5;

    color:var(--text-secondary);
}

/* =================== CASE STUDY =================== */

.overview-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px
}


/* ========================= CASE META CARDS ========================= */

.case-title {
    line-height: 1.25;
    margin-top: 0.5rem;
}

.case-meta{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    /*border-top:1px solid var(--border);*/
}


.meta-card{
    flex:1 1 220px;
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:10px 0px;
}

.meta-card span{
    font-size:12px;
    font-weight:600;

    text-transform:uppercase;
    letter-spacing:.1em;

    color:var(--text-secondary);
}

.meta-card strong{
    font-size:18px;
    font-weight:600;

    line-height:1.3;
    letter-spacing:-.02em;
}

/* ========== END of META =========== */


.impact-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

.case-image {
	height: 700px;
	border-radius: 36px;
	background: #f3f3f1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -.05em
}

.case-content {
	max-width: 850px
}

.case-content p {
	font-size: 24px;
	color: #555
}

.process-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px
}

.process-item {
	padding: 32px;
	background: rgba(255, 255, 255, .06);
	border-radius: 24px
}

.process-item span {
	font-size: 14px;
	color: #aaa
}

.process-item h3 {
	font-size: 30px
}

.process-content {
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.process-content span {
    font-size: 14px;
    color: var(--text-highlight);
}

/* ========== SOLUTION GRID =========== */

.solution-grid {
	display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:24px;
    margin-top:20px;
}

.solution-grid .solution-card h3, .solution-grid .solution-card p {
    margin:0;
}



/* ========= Case =========== */

.eyebrow-case {
    margin-top: 3rem;
    margin-bottom: 0;
    color: var(--text-highlight);
}

.case-block h2 {
    margin-top: 0;
    line-height: 1.25;
}

.case-block p {
    margin-top: 1em;
}

/* ========================= RESEARCH GRID ========================= */

.research-grid h3, .research-grid p {
    margin:0;
}

.research-grid{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:24px;
    margin-top:20px;
}



/* ========================= PROCESS LIST ========================= */

ol.process{
    list-style:none;
    counter-reset:step;
    display:flex;
    flex-direction:column;
    gap:16px;
    margin:40px 0 0;
    padding:0;
}

ol.process li{
    counter-increment:step;
    display:flex;
    align-items:center;
    gap:20px;
    padding:20px 24px;
    border:1px solid var(--border);
    border-radius:20px;
    background:#fff;
    transition:
        transform .25s ease,
        box-shadow .25s ease,
        border-color .25s ease;
    }

ol.process li::before{
    content:counter(step);
    display:flex;
    align-items:center;
    justify-content:center;
    width:36px;
    height:36px;
    flex-shrink:0;
    border: 1px solid grey;
    border-radius:50%;
    background:#fff;
    color:#000;
    font-size:15px;
    font-weight:700;
}
